<div class="header">
  <h3 class="text-center">Watch Greg's Favorite YouTube Videos</h3>
</div>

<div class="jumbotron" ng-controller="MainCtrl">
  <p class="lead">
    <img src="https://scontent-b.xx.fbcdn.net/hphotos-frc3/t1/285553_10150253426661345_1287699_n.jpg" alt="Greg" class="img-circle img-main"><br>
    Generate A Random Video
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Random Video</a></p>
</div>

<div class="row marketing">
  <h4>What is this?</h4>
  <p>
    Greg is sick of not being able to remember his favorite funny youtube clips whenever someone asks, "Anybody got any funny youtube videos?". This project hopes to solve that problem.
  </p>

  <h4>Submit potential videos</h4>
  <p>
    If you think there is a funny youtube video that Greg should put on this site feel free to submit it using the URL in the form below. No guarantees it will make the cut.
  </p>
</div>

<form role="form">
  <div class="form-group">
    <label for="submitVideo">Suggest a Video</label>
    <input type="url" class="form-control" id="submitVideo" placeholder="Copy and paste a url from YouTube">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<div class="footer">
  <p>Hope you enjoy</p>
</div>
